<%#  
TITLE, DESCRIPTION 
%>

<div class="title">
<h2>Clop Villa, Makers Island</h2>
<p>A beautiful private villa situated on<br>the northern most coast of Cape Code.</p>
</div>

<%#  
FORM TO BOOK DATES PARAMS :date_from & :date_to
%>

<form>
<h4>When would you like to stay?</h4>
<div class="date">
<br>
<input type="date" name="date_from">
<h4>to</h4>
<br>
<input type="date" name="date_to">
</div>
  <div class="button-div">
  <button class="button" onclick="alert('Clop Villa has been booked!')">Book</button>
 </div>
</form>

<%#  
PICTURES ON THE BOTTOM OF THE PAGE
%>

    <section class="pictures">
        <div class="row">
            <div class="pictures-col">
                <img src="https://www.europe-hotels.org/wp-content/uploads/2020/02/Maui-Bar.jpg">
                <div class="layer">
                    <h3>BAR</h3>
                </div>
            </div>
            <div class="pictures-col">
                <img src="https://leisurepools.eu/wp-content/uploads/2020/06/best-type-of-swimming-pool-for-my-home_2.jpg">
                <div class="layer">
                    <h3>POOL</h3>
                </div>
            </div>
               <div class="pictures-col">
                <img src="https://cdn.thewirecutter.com/wp-content/media/2021/06/howtoshopforhottubs-2048px-hotspringspas.jpg">
                <div class="layer">
                    <h3>HOT TUB</h3>
                </div>
            </div>
    </section>

<%#  
STYLES
%>

<style>
* {
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(https://stjohn-villarentals.com/wp-content/uploads/2016/12/Mare-Blu-villa-pool-deck-seating.jpg);
    background-position: center;
    background-size: cover;
}

.title {
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px 0;
    background: rgba(240, 240, 240, 0.3);
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
}

.title h2, p, h4{
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    font-weight: 500;
    color: white;
}

.title h2 {
font-size: 50px;
}

.title p {
padding-top: 15px;
font-size: 25px;
letter-spacing: 1px;
}

h4 {
padding-top: 15px;

}

.button-div {
    margin-top: 1%;
    text-align: center;
}

.button {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    color: white;
    background: rgba(240, 240, 240, 0.3);
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    padding: 10px;
    border-width: 2px;
    font-size: 25px;
    cursor: pointer;
}

.button:hover {
   color: white;
   background: rgba(0, 0, 0, 0.3);
}

.date {
    text-align: center;
    background: rgba(240, 240, 240, 0.3);
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 2%;
    margin-bottom:2%;
    padding-top: 1%;
    padding-bottom: 2%;
}


.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.pictures {
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 5px;
    display: flex;
}

.pictures-col {
    flex-basis: 32%;
    border-radius: 10%;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.pictures-col img {
    width: 100%;
    height: 100%;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(226, 226, 226, 0.4);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: black;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    font-family: "Lucida Console", "Courier New", monospace;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
    font-family: "Lucida Console", "Courier New", monospace;

}

</style>