<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Space</title>
</head>
<body>

  <h1>Book a space</h1>
  <h3>Message</h3>

  <form action='/list-space' method='get'>
    <input type='submit' value='List a space'>
  </form>

  <div>
    <h3>Beach Villa</h3>
    <h4>A beautiful private villa near the beach.</h4>
    <button> </button>
  </div>

  

</body>
</html>