<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
</head>
<body>

  <h1>Welcome</h1>
  <h3>Message</h3>

  <form action='/login' method='post'>
    <input type='email' name='email' placeholder='Enter email'>
    <input type='password' name='password' placeholder='Emter password'>
    <input type='submit' value='SUBMIT'>
  </form>

  <h4>Already have an account?</h4>

  <form action='/sign-in' method='get'>
    <input type='submit' value='Sign in?'>
  </form>

</body>
</html>