<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
</head>
<body>

  <h1>Before you list a space ...</h1>

  <h4>Already have an account?</h4>
  <form action='/sign-in' method='get'>
    <input type='submit' value='SIGN IN' >
  </form>

  <h4>Want to sign up?</h4>
  <form action='/sign-up' method='get'>
    <input type='submit' value='SIGN UP'>
  </form>

</body>
</html>